@themeColor: #555;
body{
  margin: auto auto;
}
#nav{
  background-color: black;
  margin: 60px auto;
  width: 80%;
  ul{
    display: inline-block;
    padding: 10px 30px;
    margin: 0;
    li{
      display: inline-block;
      padding: 0 20px;
      margin: 0;
      font-size: 1.2em;
      &:first-child{
        border: solid 0 #000000;
        border-right: 1px;
      }
      a{
        color: #ffffff;
        text-decoration: none;
        font-weight: bold;
        font-family: monospace;
        &:hover{
          color: #F7E706;
        }
      }
    }
  }
}
.homePage{
  width: 80%;
  margin: auto;
}
.homeDes{
  width: 80%;
  margin: auto;
}
.itemPage{
  width: 80%;
  margin: auto;
  #search_item{
    margin-top: 10px;
    input{
      height: 25px;
      width: 95%;
      margin-right: 5px;
    }
  }
}
#itemTable{
  padding-top: 30px;
  .item{
    display: inline-block;
    width: 25%;
    .itemImage{
      width: 88%;
      height: 88%;
    }
  }
}
