@themeColor: #555;
body{
  margin: auto auto;
}
#nav{
  background-color: #BF7571;
  ul{
    display: inline-block;
    padding: 10px 30px;
    margin: 0;
    li{
      display: inline-block;
      padding: 0 20px;
      margin: 0;
      font-size: 1.2em;
      &:first-child{
        border: solid 0px #000000;
        border-right: 1px;
      }
      a{
        color: #000000;
        text-decoration: none;
        font-weight: bold;
        font-family: monospace;
        &:hover{
          color: #F7E706;
        }
      }
    }
  }
}
.homeDes{
  width: 80%;
  margin: auto;
}
#itemTable{
  padding-top: 30px;
  .table{
      width: 80%;
      margin: auto auto;
      caption {
          padding: 0 0 5px 0;
          font: italic 20px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
          text-align: center;
      }
      th {
          font: bold 20px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
          color: #4f6b72;
          border: 1px solid #C1DAD7;
          letter-spacing: 2px;
          text-transform: uppercase;
          text-align: left;
          padding: 6px 6px 6px 12px;
          background: #CAE8EA  no-repeat;
      }
      td {
          border: 1px solid #C1DAD7;
          background: #fff;
          font-size: 20px;
          padding: 6px 6px 6px 12px;
          color: #4f6b72;
          .alt {
              background: #F5FAFA;
              color: #797268;
          }
      }
  }
}
