doctype html
html(lang="en")
  head
    - var name = '慧小猪的购物商城'
    title= name
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width")
    link(href="/lib/style/semantic.min.css" rel="stylesheet")
    link(href="/style/main.css" rel="stylesheet")
  body
    div.container
      div#itemList
    //script(src="/lib/js/semantic.min.js")
    script(src="./bundle.js")
