doctype html
html(lang="en")
  head
    - var name = '慧小猪的购物商城'
    title= name
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width")
  body
    div.container
      div#itemList
    script(src="./bundle.js")
